

.header {
    grid-area: h;
    background-color: #95d1b5;
    max-width: 100%;
}

.img_logo {
    width: 50px;
}

.login_block {
    float: right;
}

.login_block a {
    color: white;
    font-weight: bold;
}

