

.content {
    max-width: 1000px;
    grid-area: c;
    background-color: #a6def3;
}

.img_article {
    /*display: block;*/
    max-width: 1000px;
}

.user_account {
    display: flex;
}

.user_photo {
    max-width: 150px;
    max-height: 200px;
}

.user_description {
    display: flex;
    flex-direction: column;
}


