.app-wrapper {
    margin: 0 auto;
    max-width: 1200px;

    display: grid;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: #95d1b5;
    max-width: 100%;
}

.img_logo {
    width: 50px;
}

.nav {
    grid-area: n;
    background-color: #83b779;
}

.nav-link {
    list-style-type: none;
}

.nav-link a {
    text-decoration: none;
}

.content {
    max-width: 1000px;
    grid-area: c;
    background-color: #a6def3;
}

.img_article {
    /*display: block;*/
    max-width: 1000px;
}

.user_account {
    display: flex;
}

.user_photo {
    max-width: 150px;
    max-height: 200px;
}

.user_description {
    display: flex;
    flex-direction: column;
}
